<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">

	<link href="{$basePath}/css/bootstrap.min.css" rel="stylesheet">
	<link href="{$basePath}/css/style.css" rel="stylesheet">

	<script src="https://code.jquery.com/jquery-2.1.0.min.js"></script>

	<title>{ifset title}{include title|stripHtml} | {/ifset}API</title>
</head>

<body>
	<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
		<a class="navbar-brand" href="#">User Registration API</a>
	</nav>

	<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>

	<main role="main" class="container">
		{include content}
	</main>

	{block scripts}

	{/block}
</body>
</html>
