{layout '../@layout.latte'}

{block content}
<div id="banner">
    <h1 class="mt-5 text-center" n:block=title>Register a new user!</h1>
</div>

<div id="content">
    {form registrationForm, class => "form-group"}
        <div class="container mt-5 col-md-4 registration-form">
            <div class="mb-2 form-group">
                {label fname}
                    {input fname}
            </div>
            <div class="mb-2 form-group">
                {label lname}
                    {input lname}
            </div>
            <div class="mb-2 form-group">
                {label email}
                    {input email}
            </div>
            <div class="mb-2 form-group">
                {label password}
                    {input password}
            </div>
            <div class="mb-2 form-group">
                {label permission}
                    {input permission}
            </div>
            <div class="mb-2 form-group">
                {input send}
            </div>
        </div>
    {/form}
</div>