a.navbar-brand {
    margin-left: 25px;
}

.registration-form {
    background-color: #212529;
    padding: 25px 50px;
    color: lightgray;
    font-weight: bold;
    border-radius: 15px;
}

div.flash {
   margin-top: 50px;
}